
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mixpush.honor">
    <application>
        <service
            android:name="com.mixpush.honor.UnifiedHonorMsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hihonor.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.hihonor.push.app_id"
            android:value="UNIFIEDPUSH-${HIHONOR_APP_ID}" />
    </application>

    <queries>
        <intent>
            <action android:name="com.hihonor.push.action.BIND_PUSH_SERVICE" />
        </intent>
    </queries>
</manifest>